$header-backgroung-color: #00c5fc;
$text-default-color: white;

.header__grid {
    display: grid;
    align-items: start;
    justify-items: start;
    grid-template-columns: 1.25fr 0.25fr 1fr 0.25fr 1fr;
    grid-template-rows: 50px 180px;
    padding: 25px 40px;
    
    .header__item {
        display: flex;
        flex-direction: row;
        margin-bottom: 5px;
    }
    
    .header__label {
        font-size: 16px;
        color: $text-default-color;
        font-weight: bold;
    }
    
    .header__paragraph {
        color: $text-default-color;
        font-size: 16px;
        margin: 0px;
        margin-left: 2px;
    }    
}

.header__container {
    background-color: $header-backgroung-color;
    border-radius: 10px;
}

.header__title {
    font-size: 20px;
    color: $text-default-color;
    justify-self: start;
    grid-column: 1 / 4;
    grid-row: 1 / 2;
}

.header__resume {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.header__coste {
    display: flex;
    grid-column: 3 / 4;
    grid-row: 2 / 3;    
}

.header__education {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column: 5 / 6;
    grid-row: 2 / 3;
    
    .header__education_icon-color {
        color: $text-default-color;
    }
}


hr {
    height: 100px;
    width: 0px;
    border-left: 1px solid white;
}

.header__hr1 {
    display: flex;
    align-items: center;
    align-content: center;
    grid-column: 2 / 3;
    grid-row: 2 / 3;    
}

.header__hr2 {
    grid-column: 4 / 5;
    grid-row: 2 / 3;    
}

@media(max-width: 950px) {
    .header__grid {
        display: flex;
        flex-direction: column;
        align-items: inherit;
    }

    hr {
        width: 300px;
        height: 0px;
        border-top: 1px solid $text-default-color;
    }    
}
