.timeline {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
}

.timeline__grid {
  display: grid;
  align-items: center;
  justify-items: center;

  grid-template-columns: repeat(2, 1fr) repeat(2, 1.5fr) 3fr;
  grid-template-rows: 140px;

  padding: 10px 10px 10px 10px;
}

.timeline__icon {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.timeline__icon-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.timeline__icon-radius {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #e7f2fd;;
}

.timeline__concierge_bell-color {
  color: #0f68bd;
}

.timeline__note_icon-color {
  color: #51c1c3;
}


.fa-home {
  color: green;
}

.timeline__action {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.timeline__value {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

.timeline__status {
  grid-column: 4 / 5;
  grid-row: 1 / 2;
}

.timeline__receipt {
  grid-column: 5 / 6;
  grid-row: 1 / 2;
  align-self: center;
}

.timeline__link {
  
}

.timeline__aprove_button {
  border: #03a046;
  color: #03a046;
  font-weight: bold;
  width: 80px;
  padding-left: 10px;
  margin: 5px;
  border: solid 1px;
  border-radius:20px;
  background-color: #e6fff0;
}

.timeline__dedutive_text {
  border: #545b64;
  color: #545b64;
  font-weight: bold;
  width: 80px;
  padding-left: 10px;
  margin: 5px;
  border: solid 1px;
  border-radius:20px;
  background-color: #ecf8f8;
}

.timeline__text {
  font-size: 16px;
  margin: 5px;
}

.timeline__label {
  color: #d0d3d6;
  font-size: 14px;
  font-weight: bold;
  margin: 5px;
}

.timeline__strong_text {
  font-size: 20px;
  font-weight: bold;
  color: #545b64;
  margin: 5px;
}

@media(max-width: 950px) {
  .timeline__grid {
    display: flex;
    flex-direction: column;
  }
}
