$background-color: #f4f6fa;
$background-timeline: white;
$background-icon: #e7f2fd;
$strong-text-color: #545b64;
$link-color: #51c1c3;
$label-color: #d0d3d6;


.timeline {
  background-color: $background-color;
  border-radius: 10px;
}


.timeline__grid {
  display: grid;
  align-items: center;
  justify-items: start;
  background-color: $background-timeline;

  border-radius: 10px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 140px;
  padding: 10px 10px 10px 10px; 
  margin: 30px  auto;
}


.timeline__icon {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  padding-left: 30px;
}

.timeline__icon-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.timeline__icon-radius {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: $background-icon;
  justify-content: center;
}


.timeline__note_icon-color {
  color: $link-color;
}

.timeline__action {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  display: flex;
  flex-direction: column;
}

.timeline__value {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  display: flex;
  flex-direction: column;
}

.timeline__status {
  grid-column: 4 / 5;
  grid-row: 1 / 2;
  display: flex;
  flex-direction: column;
}

.timeline__receipt {
  grid-column: 5 / 6;
  grid-row: 1 / 2;
  align-self: center;
}

.timeline__text {
  font-size: 16px;
  margin: 5px;
}

.timeline__label {
  color: $label-color;
  font-size: 14px;
  font-weight: bold;
  margin: 5px;
}

.timeline__strong_text {
  font-size: 20px;
  font-weight: bold;
  color: $strong-text-color;
  margin: 5px;
}

@media(max-width: 950px) {
  .timeline__grid {
    display: flex;
    flex-direction: column;
  }
}
