.timeline__aprove_button {
  border: #03a046;
  color: #03a046;
  font-weight: bold;
  width: 80px;
  padding-left: 10px;
  margin: 5px;
  border: solid 1px;
  border-radius:20px;}

.timeline__dedutive_text {
  border: #545b64;
  color: #545b64;
  font-weight: bold;
  width: 80px;
  padding-left: 10px;
  margin: 5px;
  border: solid 1px;
  border-radius:20px;
}


.timeline__pending_text {
  border:#FFD700;
  color:#FFD700;
  font-weight: bold;
  width: 80px;
  padding-left: 10px;
  margin: 5px;
  border: solid 1px;
  border-radius:20px;
}