.timeline__concierge_bell-color {
  color: #0f68bd;
}

.timeline__food-color, .timeline__hotmart-color {
  color: red
}

.timeline__users-color {
  color: #0f68bd;
}

.side-bar__card__container-resumo__gasto-recebeu__icon {
  color: #d0d3d6;
  border-radius: 50%;
  border: solid 1px #d0d3d6;
  background-color: #ffffff;
}