$icon-background: #d0d3d6;

.timeline__concierge_bell-color {
  color: #0f68bd;
}

.timeline__food-color, .timeline__hotmart-color {
  color: red
}

.timeline__users-color {
  color: #0f68bd;
}

.side-bar__icon {
  color: $icon-background;
  border-radius: 50%;
  border: solid 1px $icon-background;
  background-color: white;
}