.header__grid {
    display: grid;
    align-items: flex-start;
    justify-items: center;

    grid-template-columns: 1.5fr 1fr 1fr;
    grid-template-rows: 50px 180px;

    column-gap: 1px;

    padding: 30px 50px 30px 50px;
}


.header__title {
    font-size: 20px;
    color: white;

    justify-self: start;
    background-color: red;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.header__resume {
    background-color: blue;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.header__item {
    display: flex;
}

.header__label {
    display: flex;
    flex-direction: column;
    margin: 5px;
    color: white;
}

.header__paragraph {
    display: flex;
    flex-direction: column;
    margin: 5px;
    color: white;
}

.header__coste {
    display: flex;
    background-color: green;
    grid-column: 2 / 3;
    grid-row: 2 / 3;    
}

.header__education {
    display: flex;
    flex-direction: row;
    background-color: pink;
    grid-column: 3 / 4;
    grid-row: 2 / 3;    
}

.header__container {
    background-color: skyblue;
    border-radius: 10px;
    margin: 30px;
}

hr {
    height: 100px;
    width: 0px;
    border-left: 1px solid white;
    margin: 20px;
}

.teste {
    display: flex;
}


@media(max-width: 950px) {
    .header__grid {
        display: flex;
        flex-direction: column;
    }

    .header__education {
        flex-direction: column;
    }

    .header__coste {
        flex-direction: column;
    }

    hr {
        width: 100px;
        height: 0px;
        border-top: 1px solid white;
    }    
}

