.add-expense-padding {
  padding: 30px;
  background-color: white;
  border-radius: 10px;
  margin-top: 30px;
}

.add-expense {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: 1fr 2fr 1fr 1fr;
}

.add-expense__title {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  padding: 20px 5px;
}

.add-expense__title__text {
  font-size: 20px;
  font-weight: bold;
  padding: 20px 0px 20px 0px;
}


.add-expense__receipt {
  grid-column: 1 / 2;
  grid-row: 2 / 4;
  padding-right: 30px;
}

.add-expense__receipt__title {
  align-self: center;
  font-size: 14px;
  font-weight: bold;
  padding: 10px;
}

.add-expense__receipt__tipe {
  align-self: center;
  font-size: 12px;
  font-weight: bold;
  padding: 10px;
}

.add-expense__receipt__choose {
  align-self: center;
  padding: 10px;
}


.add-expense__container {
  display: flex;
  flex-direction: column;
  background-color: #e7f2fd;
  border: 1px #C1CDCD solid;
  border-radius: 5px;
}


.add-expense__inputs {
  grid-column: 2 / 3;
  grid-row: 2 / 4;
  background-color: gray;
}

.add-expense__buttons {
  grid-column: 1 / 3;
  grid-row: 4 / 5;
  background-color: red;
}