$clear-blue: #51c1c3;

.add-expense-button {
  border: 1px $clear-blue solid;
  border-radius: 5px;
  font-size: 14px;
  color: $clear-blue;
  height: 30px;
  width: 150px;

  &:hover {
    cursor: pointer;
  }

  &:active {
    border: 1px $clear-blue solid;
  }
}