@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');

$background-color: #f4f6fa;
$link-color: #51c1c3;


ul {
  padding: 0px;
  padding: 0px;

  li {
    list-style-type: none;
  }
  
}

body {
  font-family: 'Nunito Sans', cursive;
  background-color: $background-color;
}

a {
  color: $link-color;
  text-decoration: none;
}

.flex {
  display: flex;
}


input {
  width: 150px;
  height: 30px;
  border-radius: 5px;
  border: solid 1px gray;
  background-color: white;
  font-size: 12px;
}

select {
  width: 150px;
  height: 30px;
  border-radius: 5px;
  border: solid 1px gray;
  background-color: white;
  font-size: 14px;
}