@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');

li {
  list-style-type: none;
}


ul {
  padding: 0px;
  padding: 0px;
}

body {
  font-family: 'Nunito Sans', cursive;
}

a {
  color: #51c1c3;
  text-decoration: none;
}
