@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');

$background-color: #f4f6fa;
$link-color: #51c1c3;


li {
  list-style-type: none;
}


ul {
  padding: 0px;
  padding: 0px;
}

body {
  font-family: 'Nunito Sans', cursive;
  background-color: $background-color;
}

a {
  color: $link-color;
  text-decoration: none;
}


.flex_column {
  flex-direction: column;
}

.flex {
  display: flex;
}